# Configuração do Postgres
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
POSTGRES_PORT=5432

# Como a aplicação Python vai se conectar ao banco
# Quando rodando LOCAL (fora do Docker): DB_HOST=localhost
# Quando rodando DENTRO do container app: DB_HOST=db (nome do serviço no compose)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password